<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">

    <app-sidebar *ngIf="role=='Admin' || role=='Developer'"></app-sidebar>
    <app-project-manager-sidebar *ngIf="role=='Project Manager'"></app-project-manager-sidebar>
    <app-pole-manager-sidebar *ngIf="role=='Pole Manager'"></app-pole-manager-sidebar>

  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>