<mat-nav-list>
  <div class="logo py-4">
    <a routerLink="polemanager/welcomepage">
      <img src="./assets/images/logo-Proxym.png" alt="Company Logo" height="70px" />
    </a>
  </div>
  <mat-divider></mat-divider>
  <div class="user-panel">
    <div class=" image">
      <img src="userImg" class="profile_image" alt="User Image" />
    </div>
  </div>
  <h2 class="user-name">{{firstname}} {{lastname}}</h2>
  <div class="sidebarr">
    <a [routerLinkActive]="['router-link-active']" routerLink="polemanager/mypole">
      <i class="material-icons">person_add</i><span>My Pole</span>
    </a>
    <a [routerLinkActive]="['router-link-active']" routerLink="polemanager/history"><i class="material-icons">people</i>
      <span>History</span></a>
    <a [routerLinkActive]="['router-link-active']" routerLink="polemanager/allpolemanagers">
      <i class="material-icons">location_city</i> <span>All pole managers </span>
    </a>

    <a [routerLinkActive]="['list-item-active']" routerLink="polemanager/listpoles">
      <i class="material-icons">people</i><span>List Poles</span>
    </a>
    <a [routerLinkActive]="['router-link-active']" routerLink="polemanager/listdevelopers"><i
        class="material-icons">people</i> <span>All developers</span></a>

  </div>

</mat-nav-list>