<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">RH Support</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <p style="color: #6675df;"><strong>With our platform, stay in touch with those around you ! </strong></p>
        <p>Contact our administrator to create a user account for you. </p>
        <div class="container" >
            <div class="row">
                <mat-icon matSuffix color="primary">face</mat-icon>
                <p style="padding-left: 10px;"> Foulen BEN FOULAN </p>
            </div>
            <div class="row">
                <mat-icon matSuffix color="primary">email</mat-icon>
                <p style="padding-left: 10px;"> admin@proxym-it.com </p>
            </div>
            <div class="row">
                <mat-icon matSuffix color="primary">phone</mat-icon>
                <p style="padding-left: 10px;">+216 53 06 40 90 </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Ok</button>
    </div>
</div>