<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Users List</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="card">
      <div class="header">
        <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Action</button>
          <button mat-menu-item>Another action</button>
          <button mat-menu-item>Something else here</button>
        </mat-menu>
      </div>
      <div class="tableBody">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Role</th>
                <th>Work status</th>
                <th>With holding status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usersItem of users">
                <td>
                  {{usersItem.firstname}} {{usersItem.lastname}}
                </td>
                <td>{{usersItem.telNum}}</td>
                <td>{{usersItem.email}}</td>
                <td>{{usersItem.adress}}</td>
                <td>{{usersItem.role.roleName}}</td>
                <td>{{usersItem.userStatus}}</td>
                <td>{{toString(usersItem.withHoldingType)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>