<div >
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" class="title">Developers Assignement</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-label for="project">Projects  <span class="text-danger" *ngIf="createForm.get('project').errors && 
                    createForm.get('project').hasError('required')">*</span></mat-label>
                <select formControlName="project" name="project">
                    <option value="" disabled selected>Select your option</option>
                    <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
                </select>
                <mat-error
                    *ngIf="createForm.get('project').hasError('required') && createForm.get('project').touched">
                    Please choose an option
                </mat-error>
            </div>
        </form>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancel</button>
        <button type="submit" [disabled]="!createForm.valid" class="btn btn-outline-success"
            (click)="onSubmit()">Save</button>
    </div>
</div>
