<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Create New User</div>
    <div class="page__content shadow p-3 position-relative">
        <div>
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <mat-label for="firstname">First Name <span class="text-danger" *ngIf="form.get('firstname').errors && 
                            form.get('firstname').hasError('required')">*</span></mat-label>

                        <input matInput placeholder="Put your firstname here please" type="text" formControlName="firstname">
                        <mat-error *ngIf="form.get('firstname').hasError('required') && form.get('firstname').touched">
                            Firstname is required
                        </mat-error>
                        <mat-error *ngIf="form.get('firstname').hasError('minlength')">
                            The minimum length for this field is
                            {{form.get('firstname').errors.minlength.requiredLength}}
                            characters. </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-label for="firstname">Last Name <span class="text-danger" *ngIf="form.get('lastname').errors && 
                            form.get('lastname').hasError('required')">*</span></mat-label>
                        <input matInput type="text" placeholder="Put your lastname here please" formControlName="lastname">
                        <mat-error *ngIf="form.get('lastname').hasError('required') && form.get('lastname').touched">
                            Lastname is required
                        </mat-error>
                        <mat-error *ngIf="form.get('lastname').hasError('minlength')">
                            The minimum length for this field is
                            {{form.get('lastname').errors.minlength.requiredLength}}
                            characters. </mat-error>
                    </div>

                    <div class="form-group">
                        <mat-label>Email <span class="text-danger" *ngIf="form.get('email').errors && 
                            form.get('email').hasError('required')">*</span></mat-label>
                        <input matInput type="email" placeholder="Put your Email here please " formControlName="email">
                        <mat-error *ngIf="form.get('email').touched && form.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="form.get('email').hasError('pattern')">
                            Please enter a valid email address
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-label>Password <span class="text-danger" *ngIf="form.get('password').errors && 
                            form.get('password').hasError('required')">*</span></mat-label>
                        <input matInput type='password' placeholder="Put your secret password here please" formControlName="password">
                        <mat-error *ngIf="form.get('password').touched && form.get('password').hasError('required') ">
                            Password is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-label>Copy Password <span class="text-danger" *ngIf="form.get('cpassword').errors && 
                            form.get('cpassword').hasError('required')">*</span></mat-label>
                        <input matInput type='password' placeholder="Repeat your secret password here please" formControlName="cpassword">
                        <mat-error *ngIf="form.get('cpassword').touched && form.get('cpassword').hasError('required') ">
                            Copy Password is required
                        </mat-error>
                        <mat-error *ngIf="form.get('cpassword').value !== form.get('password').value">
                            Passwords doesn't match
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-label for="phone">Phone Number <span class="text-danger" *ngIf="form.get('phone').errors && 
                            form.get('phone').hasError('required')">*</span></mat-label>
                        <input matInput type='text' placeholder="Put your phone number here please" formControlName="phone">
                        <mat-error *ngIf="form.get('phone').touched && form.get('phone').hasError('required')">
                            Phone Number is required
                        </mat-error>
                        <mat-error *ngIf="form.get('phone').hasError('pattern')">
                            Please enter a valid Phone Number
                        </mat-error>
                    </div>

                    <div class="form-group">
                        <mat-label for="adress">Address<span class="text-danger" *ngIf="form.get('adress').errors && 
                            form.get('adress').hasError('required')">*</span></mat-label>
                        <input matInput type='text' placeholder="Put your local address here please" formControlName="adress">
                        <mat-error *ngIf="form.get('adress').touched && form.get('adress').hasError('required')">
                            Address is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-label for="role">Role <span class="text-danger" *ngIf="form.get('role').errors && 
                            form.get('role').hasError('required')">*</span></mat-label>
                        <select formControlName="role" name="role">
                            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                        </select>
                        <mat-error *ngIf="form.get('role').hasError('required') && form.get('role').touched">
                            Please choose an option
                        </mat-error>
                    </div>

                    <div class="form-group">
                        <mat-label for="userStatus">User Status <span class="text-danger" *ngIf="form.get('userStatus').errors && 
                            form.get('userStatus').hasError('required')">*</span></mat-label>
                        <select formControlName="userStatus" name="userStatus">
                            <option *ngFor="let userStatut of userStatusList" [value]="userStatut">{{userStatut}}
                            </option>
                        </select>
                        <mat-error
                            *ngIf="form.get('userStatus').hasError('required') && form.get('userStatus').touched">
                            Please choose an option
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-label for="userStatus">With Holding Status <span class="text-danger" *ngIf="form.get('withHoldingStatus').errors && 
                            form.get('withHoldingStatus').hasError('required')">*</span></mat-label>
                        <select formControlName="withHoldingStatus" name="withHoldingStatus">
                            <option *ngFor="let withHoldingStatus of withHoldingStatusList" [value]="withHoldingStatus">
                                {{withHoldingStatus}}</option>
                        </select>
                        <mat-error
                            *ngIf="form.get('withHoldingStatus').hasError('required') && form.get('withHoldingStatus').touched">
                            Please choose an option
                        </mat-error>
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error["error"]["message"]}}</div>
                    <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
                    <br>
                    <button type="submit" mat-flat-button color="primary" class="auth-form-btn"
                        [disabled]="!form.valid">Submit</button>
                    <button type="button" class="btn btn-danger clear-btn" (click)="onClear()">Clear</button>
                </form>
            </div>
        </div>
    </div>