<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Create New User</div>
    <div class="page__content shadow p-3 position-relative">
        <div>
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <mat-label for="developer">Developer <span class="text-danger" *ngIf="form.get('developer').errors && 
                            form.get('developer').hasError('required')">*</span></mat-label>
                        <select formControlName="developer" name="developer">
                            <option *ngFor="let developer of developers" [value]="developer.id">{{developer.firstname}}
                                {{developer.lastname}}
                            </option>
                        </select>
                        <mat-error *ngIf="form.get('developer').hasError('required') && form.get('developer').touched">
                            Please choose an option
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-label>Planification starting date <span class="text-danger" *ngIf="form.get('startingdate').errors && 
                                form.get('startingdate').hasError('required')">*</span></mat-label>
                        <div id="parent">
                            <mat-datepicker-toggle [for]="deadlineDatePickerStaringDate" matSuffix>
                            </mat-datepicker-toggle>

                            <input id="datepickerStyle1" matInput placeholder="mm-dd-yyyy"
                                formControlName="startingdate" [matDatepicker]="deadlineDatePickerStaringDate">
                            <mat-datepicker #deadlineDatePickerStaringDate></mat-datepicker>
                        </div>
                        <mat-error
                            *ngIf="form.get('startingdate').touched && form.get('startingdate').hasError('required')">
                            starting date is required
                        </mat-error>

                    </div>
                    <div class="form-group">
                        <mat-label>Planification deadline <span class="text-danger" *ngIf="form.get('deadline').errors && 
                                form.get('deadline').hasError('required')">*</span></mat-label>
                        <div id="parent">
                            <mat-datepicker-toggle [for]="deadlineDatePicker" matSuffix></mat-datepicker-toggle>

                            <input id="datepickerStyle2" matInput placeholder="mm-dd-yyyy" formControlName="deadline"
                                [matDatepicker]="deadlineDatePicker">
                            <mat-datepicker #deadlineDatePicker></mat-datepicker>
                        </div>
                        <mat-error *ngIf="form.get('deadline').touched && form.get('deadline').hasError('required')">
                            deadline is required
                        </mat-error>

                    </div>

                    <div class="form-group">
                        <mat-label for="userStatus">Decision <span class="text-danger" *ngIf="form.get('decision').errors && 
                            form.get('decision').hasError('required')">*</span></mat-label>
                        <select formControlName="decision" name="decision">
                            <option *ngFor="let decision of decision" [value]="decision">{{decision}}
                            </option>
                        </select>
                        <mat-error *ngIf="form.get('decision').hasError('required') && form.get('decision').touched">
                            Please choose an option
                        </mat-error>
                    </div>

                    <button type="submit" mat-flat-button color="primary" class="auth-form-btn"
                        [disabled]="!form.valid">Submit</button>
                    <button type="button" class="btn btn-danger clear-btn" (click)="onClear()">Clear</button>
                </form>
            </div>
        </div>
    </div>
</div>