<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">History</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="card">
      <div class="header">
        <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Action</button>
          <button mat-menu-item>Another action</button>
          <button mat-menu-item>Something else here</button>
        </mat-menu>
      </div>
      <div class="tableBody">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Developer Name</th>

                <th>Project Manager Decision</th>
                <th>Pole Manager Decision</th>
                <th>Starting date</th>
                <th>Deadline</th>
                <th>Edit Your Decision</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let developer of developers">

                <td>{{developer.firstname}} {{developer.lastname}}</td>
                <td>{{getLastItemInTable(developer.historiques)==undefined ? "doesn't have planification":
                  toStringValue(getLastItemInTable(developer.historiques).projectManagerDecision)}}</td>
                <td>{{getLastItemInTable(developer.historiques)==undefined ? "doesn't have planification":
                  toStringValue(getLastItemInTable(developer.historiques).poleManagerDecision)}}</td>
                <td>{{getLastItemInTable(developer.historiques)==undefined ? "doesn't have planification":
                  getLastItemInTable(developer.historiques).startingDate}}</td>
                <td>{{getLastItemInTable(developer.historiques)==undefined ? "doesn't have planification" :
                  getLastItemInTable(developer.historiques).deadline}} </td>
                <td>
                  <button type="button" class="btn btn-outline-info" id="edit-button-style"
                    (click)="onEdit(getLastItemInTable(developer.historiques).id,developer.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>