<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">My projects</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="card">
            <div class="header">
                <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onCreteNewProject()">Create new project</button>
                    <button mat-menu-item (click)="onDeleteProject()">Delete project</button>
                </mat-menu>
            </div>
            <div class="tableBody">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Projects</th>
                                <th>Work status</th>
                                <th>Planification starting date</th>
                                <th>Planification deadline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let developer of developers">
                                <td>
                                    {{developer.firstname}} {{developer.lastname}}
                                </td>
                                <td>{{developer.phone}}</td>
                                <td>{{developer.email}}</td>
                                <td>{{developer.address}}</td>
                                <td>{{developer.projects}}</td>
                                <td>{{developer.userStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>