<!-- Edit Pop up-->
<div *ngIf="displayEditPopUp=='true'">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" class="title">With holding status update</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <mat-label for="withHoldingStatus">With Holding Status <span class="text-danger" *ngIf="editForm.get('withHoldingStatus').errors && 
                editForm.get('withHoldingStatus').hasError('required')">*</span></mat-label>
                <select formControlName="withHoldingStatus" name="withHoldingStatus">
                    <option *ngFor="let status of withHoldingStatusList" [value]="status">{{status}}</option>
                </select>
                <mat-error
                    *ngIf="editForm.get('withHoldingStatus').hasError('required') && editForm.get('withHoldingStatus').touched">
                    Please choose an option
                </mat-error>
            </div>

            <div class="form-group">
                <mat-label for="role">Role<span class="text-danger" *ngIf="editForm.get('role').errors && 
                    editForm.get('role').hasError('required')">*</span></mat-label>
                <select formControlName="role" name="role">
                    <option *ngFor="let role of roles" [value]="role">{{role}} </option>
                </select>
                <mat-error *ngIf="editForm.get('role').hasError('required') && editForm.get('role').touched">
                    Please choose an option
                </mat-error>
            </div>
        </form>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
        <br>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancel</button>
        <button type="submit" [disabled]="!editForm.valid" class="btn btn-outline-success"
            (click)="onSubmit()">Save</button>
    </div>
</div>

<!--Delete pop up-->
<div *ngIf="displayDeletePopUp=='true'">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Profile deletion</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary"> {{firstname}}
                    {{lastname}} </span> profile?</strong></p>
        <p>All information associated to this user profile will be permanently deleted.
            <span class="text-danger">This operation can not be undone.</span>
        </p>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Ok</button>
    </div>
</div>