<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">My Pole</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="card">
            <div class="header">
                <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Action</button>
                    <button mat-menu-item>Another action</button>
                    <button mat-menu-item>Something else here</button>
                </mat-menu>
            </div>
            <div class="tableBody">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Descrption</th>
                                <th>Capacity</th>
                                <th>Reserved</th>
                                <th>Pole Manager</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pole of poles">
                                <td>
                                    {{pole.name}}
                                </td>
                                <td>{{pole.description}}</td>
                                <td>{{pole.capacity}}</td>
                                <td>{{pole.reserved}}</td>
                                <td>{{pole.poleManagerName}}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-info" id="edit-button-style"
                                    (click)="onEdit(pole.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>