
.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 100px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 15px;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  input.ng-valid, .ng-valid.required, select.ng-valid{
    border: 1.5px solid #42A948; /* green */
  }
  
  input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border: 1.5px solid #a94442; /* red */
  }
  .auth-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    background: #42A948;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
  }
  .clear-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0px 20px;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
  }
  mat-label{
    font-size: 15px;
    font-weight: 600;
  }
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 4px;
    border-radius: 10px;
    //box-sizing: border-box;
    border: 1px solid grey;
    height: 40px;
  }
  select {
    width: 100%;
    padding: 11px 20px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    height: 43px;
  }
  